# Ignore everything
*

# But keep src folder and its contents
!/src/
!/src/**
!/utils/
!/utils/**

# Keep the .gitignore file itself
!.gitignore

# Ignore node_modules even inside src or utils
node_modules/

.env
.DS_Store
dist/
build/
*.log
