body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  border:1px solid black;
}

.logo{
  width:100px;
}
.nav-items ul{
  display: flex;
  list-style-type:none;
  padding: 0px 40px;
  font-size: 18px;
}

.nav-items ul li {
  padding: 10px;
  margin: 10px;
}
.cart-container{
  margin:2px !important;
}
.cart-icon{
  width: 33px;
  height: 28px;
}
.restro-body-container{
  padding: 30px;
}
.restro-card{
     border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 82%;
    padding: 20px;
    margin: 20px 0;
}
.restro-card img {
  border-radius: 5px 5px 0 0;
  width:100%;
}
.restro-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
.card-container {
  padding: 2px 16px;
}
.checked {
  color: orange;
}
.filter_btn{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.filter_btn:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6)
}
.rating-container{
  margin: 10px 0;
}
.badge {
  background-color: green;
  color: white;
  padding: 0px 6px;
  text-align: center;
  border-radius: 5px;
}
/*Card*/
.restro-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
.card-container p{
  font-size: 14px;
  color: darkgray;
}
.restro-name, .restro-cost{
  justify-content: space-between;
    display: flex;
    width: 100%;
}
.restro-name h3{
  line-height: 0;
}
.restro-cost{
  margin:4px 0;
}
.restro-cost h4{
 margin:2px;
}
.restro-rating, .restro-del-time{
  align-items: center;
}
.restro-img-container, .restro-img{
  height:200px;
}
/*Footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.footer-container{
	max-width: 1170px;
	margin:auto;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}





